@use "@styles/lootery-summary2026/mixins" as *;
@use "tools" as *;

.pc-case {
    padding: pu(19) pu(16) pu(20);

    @include media-min(mob-md) {
        padding: pu(32) pu(20) pu(24);
    }

    @include media-min(tab) {
        padding: pu(30);
    }

    &__text-col {
        @include media-min(tab) {
            padding-top: pu(14);
        }
    }

    &__inner {
        @include media-min(tab) {
            display: grid;
            grid-template-columns: #{pu(340)} minmax(0, 1fr) #{pu(470)};
            gap: pu(40);
        }
    }

    &--reverse &__inner {
        @include media-min(tab) {
            grid-template-columns: #{pu(470)} minmax(0, 1fr) #{pu(340)};
        }
    }

    &--reverse &__media {
        position: relative;

        @include media-min(tab) {
            order: 1;
        }
    }

    &--reverse &__figure {
        @include media-min(tab) {
            order: 2;
        }
    }

    &--reverse &__text-col {
        @include media-min(tab) {
            order: 3;
        }
    }

    [data-pc-carousel-track] {
        position: relative;
    }
    &__head {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: pu(12);

        @include media-min(tab) {
            flex-direction: column-reverse;
            align-items: flex-start;
        }
    }

    &__title {
        font-size: pu(28);

        @include media-min(mob-md) {
            font-size: pu(35);
        }

        @include media-min(tab) {
            font-size: pu(42);
        }
    }

    &__number {
        flex-shrink: 0;
        font-size: pu(28);
        font-weight: 500;
        letter-spacing: -0.02em;
        color: var(--pc-text);

        span {
            font-size: .6em;
        }

        @include media-min(mob-md) {
            font-size: pu(35);
        }

        @include media-min(tab) {
            margin-bottom: pu(14);
            font-size: pu(46);
        }
    }

    &__descr {
        margin-top: pu(12);
        font-size: pu(15);
        line-height: 1.4;

        .pc-text + .pc-text {
            margin-top: pu(10);
        }

        @include media-min(mob-md) {
            font-size: pu(16);
        }

        @include media-min(tab) {
            margin-top: pu(16);
            font-size: pu(18);
            line-height: 1.35;
        }
    }

    &__figure {
        position: relative;
        margin-top: pu(-22);

        @include media-min(tab) {
            justify-self: center;
            width: fit-content;
            margin-top: pu(-30);
            margin-bottom: pu(-30);
        }
    }

    &__figure &__image {
        width: calc(100% + #{pu(32)});
        max-width: none;
        margin-left: pu(-16);
        margin-right: pu(-16);

        @include media-min(mob-md) {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }

        @include media-min(tab) {
            margin-left: auto;
            margin-right: auto;
            width: auto;
            height: pu(554);
        }
    }

    &__hint {
        display: flex;
        margin-top: pu(-35);
        text-align: center;

        .pc-pill {
            flex-grow: 1;
            justify-content: center;
            color: var(--pc-accent);
            text-align: left;
        }

        @include media-min(tab) {
            display: none;
        }
    }

    &__media {
        margin-top: pu(12);

        @include media-min(mob-md) {
            margin-top: pu(30);
        }

        @include media-min(tab) {
            margin-top: 0;
        }
    }

    &__media .pc-carousel__track {
        @include media-min(tab) {
            height: pu(468);
        }
    }
}

.pc-specs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: pu(6);

    &--video {
        grid-template-columns: 1fr;
    }

    &--video &__item--wide {
        grid-column: auto;
    }

    &__photo {
        position: relative;
        overflow: hidden;
        border-radius: pu(12);

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            border: #{pu(2)} solid rgba(149, 156, 170, .2);
            border-radius: inherit;
            pointer-events: none;
        }

        img {
            width: 100%;
            height: pu(150);
            object-fit: cover;
        }

        @include media-min(mob-md) {
            border-radius: pu(16);

            img {
                height: pu(154);
            }
        }

        @include media-min(tab) {
            img {
                width: pu(470);
                height: pu(310);
            }
        }
    }

    &__item {
        display: flex;
        padding: pu(12);
        border: #{pu(2)} solid rgba(149, 156, 170, .2);
        border-radius: pu(12);
        background-color: var(--pc-card);
        box-shadow: #{pu(6)} #{pu(3)} #{pu(4)} 0 rgba(0, 0, 0, .02);

        @include media-min(mob-md) {
            border-radius: pu(16);
        }
    }

    &__item--wide {
        flex-direction: column;
        grid-column: span 2;
        padding: 0;
        overflow: hidden;

        @include media-min(mob-md) {
            flex-direction: row;
            align-items: stretch;
            height: pu(150);
        }
    }

    &__item--wide &__body {
        padding: pu(17) pu(20) pu(8);

        @include media-min(mob-md) {
            padding: pu(22) pu(28);
        }
    }

    &__body {
        flex-grow: 1;
    }

    &__label {
        display: block;
        margin-bottom: pu(10);
        font-size: pu(13);
        font-weight: 500;
        letter-spacing: 0.04em;
        line-height: 1.2;
        text-transform: uppercase;
        color: var(--pc-text);
    }

    &__text {
        margin: 0;
        font-size: pu(13);
        font-weight: 500;
        line-height: 1.3;
        text-transform: uppercase;
        color: var(--pc-title);
    }

    &__item--wide &__text {
        font-size: pu(16);
        text-transform: none;
    }

    &__image {
        position: relative;
        flex-shrink: 0;
        display: block;
        width: auto;
        height: pu(152);
        margin: auto pu(8) pu(8);
        border-radius: pu(10);
        overflow: hidden;

        .pc-specs--video & {
            &:before {
                content: "";
                display: block;
                position: absolute;
                inset: 0;
                background-color: rgba(0,0,0,.3);
            }
        }

        picture {
            display: block;
            height: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @include media-min(mob-md) {
            width: pu(247);
            height: 100%;
            margin: 0 0 0 auto;
            border-radius: #{pu(16)} #{pu(14)} #{pu(14)} #{pu(16)};
        }

        @include media-min(tab) {
            width: pu(229);
        }
    }

    &__play {
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: pu(40);
        height: pu(40);
        border-radius: 50%;
        background-color: $color-white;
        color: var(--pc-accent);
        transform: translate(-50%, -50%);

        svg {
            width: pu(14);
            height: pu(17);
            margin-left: pu(2);
        }

        @include media-min(mob-md) {
            width: pu(45);
            height: pu(45);

            svg {
                width: pu(16);
                height: pu(19);
            }
        }

        @include media-min(tab) {
            width: pu(48);
            height: pu(48);

            svg {
                width: pu(17);
                height: pu(20);
            }
        }
    }

    @include media-min(mob-md) {
        &__label {
            margin-bottom: pu(18);
            font-size: pu(18);
        }

        &__item--wide &__text {
            font-size: pu(18);
        }
    }

    @include media-min(tab) {
        &__item {
            height: pu(152);
            padding: pu(20) pu(24);
        }

        &__item--wide {
            height: pu(152);
            padding: 0;
        }

        &__label {
            margin-bottom: pu(18);
            font-size: pu(18);
        }

        &__text {
            font-size: pu(22);
            line-height: 1;
        }

        &__item--wide &__text {
            font-size: pu(18);
            line-height: 1.3;
        }

    }
}
