@use "@styles/lootery-summary2026/mixins" as *;
@use "@styles/lootery-summary2026/dream/tools" as *;

.dream-intro {
    position: relative;
    z-index: 4;

    margin-top: du(-30);
    font-size: du(20);
    line-height: 1.3;

    @include media-min(tab) {
        font-size: du(35);
    }

    &__text {
        text-align: center;

        @include media(tab) {
            width: du(506);
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__accent {
        display: block;
        font-weight: 700;
        color: $color-accent;
    }
}
