@use "@styles/lootery-summary2026/mixins" as *;

.table-ticket {
    //height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 12px;
    line-height: 1.6;

    @include media-min(mob-md) {
        font-size: 14px;
    }

    @include media-min(mob) {
        font-size: 16px;
    }

    &__header,
    &__row {
        display: grid;
        gap: .625rem;
        grid-template-columns: 1fr 2.5fr;
        border-radius: 16px;
        padding: 12px 8px 12px 20px;

        @include media-min(mob-md) {
            padding: 10px 20px 10px 20px;
        }
    }

    &__header {
        font-size: 10px;
        text-transform: uppercase;
        color: $color-grey;
        letter-spacing: 1px;

        @include media-min(mob-md) {
            font-size: 12px;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    &__row {
        background-color: rgba(149, 156, 170, .05);

        &:nth-child(2n-1) {
            background-color: rgba(149, 156, 170, .15);
        }
    }

    &__body &__param {
        color: $color-grey;
    }

    &__body &__value {
        color: $color-black;
    }
}
